@using System.Globalization
@using ISCS.Data.Entities
@using ISCS.ViewModels
@model TechCardViewModel
    
<link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.min.css"/>
<script type="text/javascript" charset="utf8" src="~/lib/jquery.dataTables.min.js"></script>

@{
    var isActual = Model.IsActual;
}

<div class="panel panel-default" style="margin-top: 50px;">
    <div class="panel-heading" style="height: 50px;">
        View Tech Card
        @*<button class="btn btn-primary btn-sm pull-right">Cancel</button>
        <button class="btn btn-primary btn-sm pull-right">Print</button>*@
        @if (Model.TechCardState == TechCardStates.OperationsConfigured)
    {
        <button id="toRa" val="false" type="button" class="btn btn-success btn-sm pull-right">Send to RA Department</button>
}

        @if (Model.TechCardState == TechCardStates.RaCompleted)
    {
        <button id="accept" val="false" type="button" class="btn btn-success btn-sm pull-right">Accept</button>

}
    </div>
    <div class="panel-body" style="padding: 0px;">
        <table style="width: 100%">
            <colgroup>
                <col style="width: 3%" />
                <col style="width: 94%"/>
                <col style="width: 3%" />
            </colgroup>
            <tbody>
            <tr>
                <td></td>
                <td>
                    <div class="panel panel-default" style="margin-top: 20px;">
                        <div class="panel-heading" style="height: 50px;">
                            Tech Card Information
                            @if (isActual)
                            {
                                if (Model.TechCardState == TechCardStates.Created
                                    || Model.TechCardState == TechCardStates.OperationsAdded
                                || Model.TechCardState == TechCardStates.OperationsConfigured)
                                {
                                    <button class="btn btn-primary btn-sm pull-right">Update</button>
                                }
                                
                                @*<button id="disable" val="false" type="button" class="btn btn-danger btn-sm pull-right">Disable</button>*@
                            }
                            else
                            {
                                <button id="enable" val="true" type="button" class="btn btn-success btn-sm pull-right">Enable</button>
                            }
                        </div>
                        <div class="panel-body" style="padding: 0px;">
                            <table style="width: 100%; border-spacing: 100px">
                                <colgroup>
                                    <col style="width: 1%; background-color: dimgray" />
                                    <col style="width: 99%" />
                                </colgroup>
                                <tr>
                                    <td class="form-group col-xs-3">&nbsp;</td>
                                    <td class="form-group col-xs-1"></td>
                                </tr>
                                <tr>
                                    <td class="form-group col-xs-1">
                                        <label>Tech card numer:</label>
                                    </td>
                                    <td class="form-group col-xs-6">
                                        @Model.DisplayName
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-group col-xs-1">
                                        <label>Actuality:</label>
                                    </td>
                                    <td class="form-group col-xs-6">
                                        @{
                var messageColor = isActual ? "green" : "red";
                var message = isActual ? "Actual" : "Not Actual";
                                        }
                                        <div style="color: @messageColor;">@message</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-group col-xs-1">
                                        <label>State:</label>
                                    </td>
                                    <td class="form-group col-xs-6">
                                        @Model.TechCardState
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-group col-xs-1">
                                        <label>Work:</label>
                                    </td>
                                    <td class="form-group col-xs-6">
                                        @Model.Work.Name
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-group col-xs-1">
                                        <label>Description:</label>
                                    </td>
                                    <td class="form-group col-xs-6">
                                        @Model.Description
                                    </td>
                                </tr>

                                <tr>
                                    <td class="form-group col-xs-1">
                                        <label>Area:</label>
                                    </td>
                                    <td class="form-group col-xs-6">
                                        @Model.Area?.Name
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-group col-xs-1">
                                        <label asp-for="PeopleNumber"></label>
                                    </td>
                                    <td class="form-group col-xs-6">
                                        @Model.PeopleNumber
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-group col-xs-1">
                                        <label>Equipment:</label>
                                    </td>
                                    <td class="form-group col-xs-6">
                                        @string.Join(" ,", Model.SelectedEquipment.Select(x => x.Name))
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-group col-xs-1">
                                        <label>Creation Date:</label>
                                    </td>
                                    <td class="form-group col-xs-6">
                                        @{CultureInfo.CurrentCulture = new CultureInfo("en");}
                                        @Model.CreationDate.ToString("D")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-group col-xs-3">&nbsp;</td>
                                    <td class="form-group col-xs-1"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="panel panel-default" style="margin-top: 20px;">
                        <div class="panel-heading" style="height: 50px;">
                            Order Of Operations
                            @if (isActual && (Model.TechCardState == TechCardStates.Created
                                || Model.TechCardState == TechCardStates.OperationsAdded
                                || Model.TechCardState == TechCardStates.OperationsConfigured))
                            {
                                if (Model.TechCardState == TechCardStates.OperationsAdded
                                || Model.TechCardState == TechCardStates.OperationsConfigured)
                                {
                                    <a asp-controller="TechCard" asp-action="OperationsReorder" asp-route-techCardId="@Model.Id" class="btn btn-primary btn-sm pull-right">Reorder</a>
                                }
                                
                                <a asp-controller="TechCard" asp-action="OperationManagment" asp-route-techCardId="@Model.Id" class="btn btn-primary btn-sm pull-right">Operations Management</a>
                            }
                        </div>
                        <table style="width: 100%">
                            <tbody>
                            <tr>
                                <td></td>
                                <td>
                                    <div style="margin: 0 auto;">
                                        <table id="example" class="table table-striped table-bordered nowrap" style="margin-bottom: 0px">
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Equipment Name</th>
                                            </tr>
                                            </thead>
                                        </table>
                                        <div style="height: 200px; overflow-y: scroll; border-left: 1px solid black;border-bottom: 1px solid black; border-color: rgb(28, 30, 34);height: 288px;">
                                            <table class="table table-striped table-bordered nowrap">
                                                <colgroup>
                                                    <col style="width: 19.9%"/>
                                                    <col style="width: 34.2%"/>
                                                </colgroup>
                                                <tbody data>
                                                @foreach (var operation in Model.Operations)
                                                {
                                                    <tr>
                                                        <td>@operation.OperationName</td>
                                                        <td>@operation.OperationDescription</td>
                                                        <td>@operation.EquipmentName</td>
                                                        <td hidden eqId>@operation.Id</td>
                                                        <td hidden orderId>@operation.OrderId</td>
                                                    </tr>
                                                }
                                                </tbody>
                                            </table>
                                        </div>
                                        <br />
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="panel panel-default" style="margin-top: 20px;">
                        <div class="panel-heading" style="height: 50px;">
                            Risk Assessment
                            @if (Model.TechCardState == TechCardStates.NeedRa
                                || Model.TechCardState == TechCardStates.RaCompleted)
                            {
                                <a asp-controller="TechCard" asp-action="RiskAssessment" asp-route-techCardId="@Model.Id" class="btn btn-primary btn-sm pull-right">Manage RA</a>
                            }

                        </div>
                        <table style="width: 100%">
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div style="margin: 0 auto;">
                                            <table id="example" class="table table-striped table-bordered nowrap" style="margin-bottom: 0px">
                                                <thead>
                                                <tr>
                                                    <th style="width: 26.4%">Hazard Name</th>
                                                    <th>Control Name</th>
                                                </tr>
                                                </thead>
                                            </table>
                                            <div style="height: 200px; overflow-y: scroll; border-left: 1px solid black; border-bottom: 1px solid black; border-color: rgb(28, 30, 34); background-color: #272b30;">
                                                <table class="table table-striped table-bordered nowrap">
                                                    <colgroup>
                                                        <col style="width: 26.8%"/>
                                                        <col/>
                                                    </colgroup>
                                                    <tbody resultOperations>
                                                    @foreach (var operation in Model.HazardControls)
                                                    {
                                                        var res = operation.HazardId + "_" + operation.Id;
                                                        var data = operation.Id;
                                                        <tr>
                                                            <td>@operation.HazardName</td>
                                                            <td name>@operation.Name</td>
                                                        </tr>
                                                    }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br />
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="panel-footer" style="height: 50px;">
        &nbsp;
        @*<button class="btn btn-primary btn-sm pull-right">Cancel</button>*@
    </div>
</div>

<div class="modal fade" id="mi-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Disable Tech Card Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you really want to disable '@Model.DisplayName' technological card?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button id="submitConfirmation" type="button" class="btn btn-danger">Disable Tech Card</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sending Tech Card To Risk Assessment Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Description:</label><br/>
                         If you sure in your technological card you can send it to Risk Assessment department. Also you can add some specifying comment's 
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Comment:</label>
                        <textarea class="form-control" id="comment"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button id="send" type="button" class="btn btn-success">Send</button>
            </div>
        </div>
    </div>
</div>

@*@if(Model.TechCardState == TechCardStates.NeedRa &&){
    <script>
        alert("@Model.Comment");
    </script>
}*@


<script>
    $(document).ready( function () {
        var modalConfirm = function(callback){

            $("#disable").on("click", function(){
                $("#mi-modal").modal('show');
            });

            $('#toRa').click(() => {
                $("#exampleModal").modal('show');
            });

            $('#send').click(() => {
                var message = $('#comment').val();
                $.post("@Url.Action("ChangeStatusToNeedRa","TechCard")", { techCard: '@Model.Id', comment: message },
                    () => {
                        location.reload();
                    });
            });

            $("#submitConfirmation").on("click", function(){
                callback(true);
                $("#mi-modal").modal('hide');
            });
        };

        $('#accept').click(() => {
            $.post("@Url.Action("AcceptTechCard","TechCard")?techCardId=@Model.Id", () => {
                location.reload();
            });
        });

        modalConfirm(function(confirm){
            if(confirm) {
                setActuality(false);
            }
        });

        $('#enable').click(() => {
            setActuality(true);
        });

        function setActuality(value) {
            location.assign("@Url.Action("SetTechCardActuality","TechCard")?techCardId=@Model.Id&value=" + value);
        }
    } );
</script>